* {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

h1, p {
    text-align: center;
}

.input {
    display: flex;
    justify-content: space-between;
}

button, input {
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px;
}

input {
    color: black;
}

button {
    background-color: rgb(104, 174, 151);
    cursor: pointer;
    transition: all 0.2s;
}

li {
    margin: 5px 0px;
    cursor: pointer;
    list-style: none;
}

ul {
    width: 250px;
    padding: 0;
}

.done {
    text-decoration: line-through;
}

button:hover {
    transform: scale(1.03);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrapper, .taskClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delClass {
    margin: 5px 0px;
}
